
@font-face {
  font-family: "YesevaOne";
  src: url("YesevaOne.eot?#iefix") format("embedded-opentype"),  url("YesevaOne.woff") format("woff"), url("YesevaOne.ttf")  format("truetype"), url("YesevaOne.svg#YesevaOne") format("svg");
  font-weight: normal;
  font-style: normal;
}
